.App {
  text-align: center;
  font-family: 'PinkFlamingo-Book', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  color: #333;
  border-bottom: 3px solid #FED100;
}

li:hover{
  color: white;
  background-color: #FED100;
}
