.Navbar__main {
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 150;
  font-family: 'PinkFlamingo-Book', sans-serif;
  align-items: center;
}

.Navbar__dropdown {
  width: 50%;
  float: left;
  padding-top: 10px
}

.Navbar__p {
  margin: 0;
  color: #333;
  font-size: 40px;
  float: left;
  padding-left: 50px;
  font-family: 'PinkFlamingo-Book', sans-serif;
}

.Navbar__select {
  margin: 0 50px ;
  align-self: center;
  float: left;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 5px;
  -moz-padding-end: 5px;
  -webkit-padding-start: 5px;
  -moz-padding-start: 5px;
  border: none;
  border-radius: 0;
  font-size: 40px;
  margin-left: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'PinkFlamingo-Book', sans-serif;
  background-color: #FED100;
  color: #FFF;
}

.Navbar__links {
  font-size: 25px;
  width: 50%;
  padding-top: 10px;
}

.Navbar__links--list {
  float: right;
}

ul {
  list-style-type: none;
}

li {
  width: auto;
  float: right;
  margin-right: 50px;
}

/*underline color: #FED100*/
