.gallery__block {
  width: 100%;
}

.Gallery__main {
  display: flex;
  max-width: 1300px; /*This must match the width of the ReactGridLayout property */
  margin: 0 auto;
  /*padding: 200px 0;*/
  /*margin-bottom: 100px;*/

}